.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.logo {
  width: 120px; 
  height: auto;
  margin-bottom: 20px;
}

.custom-item {
  --border-radius: 10px;
  --padding-start: 10px;
  --inner-padding-end: 10px;
  margin-bottom: 15px;
}

.custom-button {
  --border-radius: 20px;
  --background: #3880ff;
  --color: white;
  font-weight: bold;
  margin-top: 10px;
}

.custom-link {
  font-size: 14px;
  color: #3880ff;
  text-decoration: underline;
  margin-top: 10px;
}

ion-input {
  --placeholder-color: var(--ion-color-medium);
  --placeholder-opacity: 1;
}

.input-text {
  letter-spacing: 0.5px;
}

.toolbar-container{
  padding: 20px;
}
ion-label.floating {
  transition: all 0.2s ease;
}
.error-message {
  display: block;
  text-align: center;
  margin-top: 16px;
}

ion-button[type="submit"] {
  margin-top: 24px;
}