<ion-content>
  <ion-header>
    <ion-toolbar color="primary" class="toolbar-container">
      <ion-title>Meus Filmes Favoritos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="carregando" class="carregando">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Carregando seu ranking...</p>
  </div>

  <ion-list *ngIf="!carregando">
    <ion-item *ngFor="let filme of filmesRanking; let i = index" class="ranking-item">
      <ion-label>
        <h2>
          <ion-badge color="primary" slot="start">{{i + 1}}º</ion-badge>
          {{filme.nome}}
        </h2>
        
        <div class="info-filme">
          <ion-chip [color]="getCorEstrelas(filme.estrelas)">
            <ion-icon name="star" *ngFor="let e of [].constructor(filme.estrelas)"></ion-icon>
            <ion-label>{{filme.estrelas}} estrelas</ion-label>
          </ion-chip>
          
          <ion-badge color="medium">{{filme.genero}}</ion-badge>
          <ion-badge color="warning">{{filme.nota}}</ion-badge>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-title style="text-align: center">dvbtecnology.com</ion-title>
    </ion-toolbar>
  </ion-footer>